
.main_players{
  width: 150px;
  height: 150px;
  border: 2px solid #000;
  margin: 50px auto;
}
.block{
  height: 50px;
  width: 50px;
  border: 2px solid #000;
  float: left;
  box-sizing: border-box;
  text-align: center;
  padding: 5px;
  font-size: 24px;
  font-weight: 800;
}
.title{
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
  font-weight: 800;
}